body {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}


/*global message*/
.global-message {
    background: rgb(95, 175, 212);
    display: flex;
    height: rem;
    justify-content: space-between;



}

/* navbar */
header {
    height: 100px;
    background-color: blue;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: white;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header ul {
    display: flex;
    gap: 10px;
}

header ul>li {
    list-style-type: none;
    font-size: 1rem;
}

/* hero */
.hero {
    background-color: green;
    height: 500px;
    background-image: url(./hero.jpg);
    background-position: center;
    background-size: cover;

}

.hero>div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.hero .hero-item {
    height: 200px;
    width: 300px;
    background-color: rgba(123, 220, 244, 0.433);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);

}

.hero .hero-item>hr {
    width: 100%;
}


/* latest posts */
.latest {
    background-color: grey;
}

.latest>div {
    display: flex;
    flex-direction: column;
}

.latest main {
    display: flex;
}

.latest .articles {
    width: 66%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.latest .side-links {
    width: 33%;
    background-color: rgb(207, 246, 33);
}

.articles article {
    background-color: #f0f0f0bd;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
}

.articles article>img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.articles article .summary {
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: beige; */
}

.articles article .summary .article-btn {
    float: right;
}

/* recommendation */
/* subscribe */
/* footer  */